<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd">
    <a class="navbar-brand" routerLink="">Angular App</a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLinkActive="active" routerLink="customers">Customer List</a>
            <a class="nav-item nav-link" routerLinkActive="active" routerLink="create-customer">Create Customer</a>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
