<div class="container">
    <h2 class="text-center">Update Customer</h2>
    <form (ngSubmit) = "onSubmit()">
        <div class="form-group">
            <label for="firstName"> First Name</label>
            <input type="text" class="form-control" id="firstName" [(ngModel)]="customer.firstName" name="firstName">
        </div>
        <div class="form-group">
            <label for="lastName"> Last Name</label>
            <input type="text" class="form-control" id="lastName" [(ngModel)]="customer.lastName" name="lastName">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" [(ngModel)]="customer.email" name="email">
        </div>


        <button class="btn btn-success mt-2" type="submit">Update</button>
     </form>
</div>
