<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>

    <property name="connection.url">jdbc:mysql://localhost:3306/mysqldb</property>
    <property name="connection.username">root</property>
    <property name="connection.password">my-secret-pw</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

    <property name="show_sql">false</property>

    <property name="format_sql">true</property>
    <property name="hbm2ddl.auto">create</property>


    <property name="current_session_context_class">thread</property>
<!-- HikariCP custom properties -->
    <property name="hibernate.connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider</property>
    <!-- Maximum waiting time for a connection from the pool -->
    <property name="hibernate.hikari.connectionTimeout">10000</property>

    <!-- Minimum number of ideal connections in the pool -->
    <property name="hibernate.hikari.minimumIdle">20</property>

    <!-- Maximum number of actual connection in the pool -->
    <property name="hibernate.hikari.maximumPoolSize">300</property>

    <!-- Maximum time that a connection is allowed to sit ideal in the pool -->
    <property name="hibernate.hikari.idleTimeout">200000</property>
    <mapping class="com.mastertheboss.domain.Employee" />
    <mapping class="com.mastertheboss.domain.Department" />
</session-factory>
</hibernate-configuration>
